import * as React from 'react';
{{#if wantActionsAndReducer}}
import { connect } from 'react-redux';
import { bindActionCreators, Dispatch } from 'redux';
import { State } from '../../state';
import { {{ properCase name }}ActionType } from './actions';
import { {{ properCase name }}State } from './reducer';
import actionCreators from './actionCreators';
import {
  {{ properCase name }}Props,
  {{ properCase name }}DispatchProps,
  {{ properCase name }}PropTypes,
} from './types';
{{else}}
import { {{ properCase name }}PropTypes } from './types';
{{/if}}
{{#if wantSelectors}}
import {
  selectIsLoading,
  selectError,
  selectData,
} from './selectors';
{{/if}}
import { Heading, Section } from './styles';
{{#if wantActionsAndReducer}}

{{#if wantSelectors}}
const mapStateToProps = (state: State): {{ properCase name }}Props => ({
  isLoading: selectIsLoading(state),
  error: selectError(state),
  data: selectData(state),
});
{{else}}
const mapStateToProps = (state: State): {{ properCase name }}Props => ({
  isLoading: state.{{ camelCase name }}.isLoading,
  error: state.{{ camelCase name }}.error,
  data: state.{{ camelCase name }}.data,
});
{{/if}}

const mapDispatchToProps = (dispatch: Dispatch<{{ properCase name }}ActionType>): {{ properCase name }}DispatchProps => ({
  actions: bindActionCreators(
    actionCreators,
    dispatch,
  ),
});

class {{ properCase name }} extends React.Component<{{ properCase name }}PropTypes, {{ properCase name }}State> {
{{else}}
class {{ properCase name }} extends React.Component<{{ properCase name }}PropTypes, any> {
{{/if}}
  public render() {
    return (
      <Section>
        <Heading>
          Best container ever!
        </Heading>
      </Section>
    );
  }
}

{{#if wantActionsAndReducer}}
export default connect(
  mapStateToProps,
  mapDispatchToProps,
)({{ properCase name }});
{{else}}
export default {{ properCase name }};
{{/if}}
